@font-face {
    font-family: FontAwesome;
    src: url('icon/icomoon.eot');
    src: url('icon/icomoon.eot?') format('embedded-opentype'),
         url('icon/icomoon.woff') format('woff'),
         url('icon/icomoon.ttf') format('truetype');
}

@media screen and (max-width: 768px){
  .navbar-nav.pull-right {
  width: 100%;
}

}

.thumbnail {
  border: 0;
  background-color: #e3e3e3;
}

a {
  font-family: 'Kanit', 'Helvetica Neue',sans-serif;
}

#cus_nav {
  background-color: #013C61;
 

}

hr {
  margin: 0;
}

#qury a:hover{
  text-decoration: none;

}

#qury div:hover {
  background-color: #E6E6E6;
}

.dropdownSearch {
  width: 266px;
  position: fixed;
  background-color: #fff;
  margin: 0;
  z-index: 99;
}

.qury {
  margin: 0;
  padding: 0;
  list-style: none;

}

.qury li{
  font-size: 1.2em;
  width: 266px;
  color: #000;
  border: 1px solid #000;
  border-top: 0;
  cursor: pointer;
}

.qury li:hover{
  background-color: #D6D6D6;
  background-color: #333;
}

#acc_nav {
  color: #fff;
  padding-right: 5px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;

}

.white_color {
  color: white;
}

span #acc_nav {
  margin: 0;

}

#logo_nav {
    padding: 0 20px;
    color: white;

}

#logo_img {
  margin-right: 10px;
  margin-bottom: 4px;
  display: inline;

}

#carousel-cus {
  height: 500px;
}

.cus_headImg {
  box-shadow: 0px -1px 30px -5px #000;
  margin-top: 52px;


}

.cus_hd {
   margin-top: 80px;

}

#cus_thumb {
  box-shadow: 0px 5px 12px -5px #000;
}

#gpu_goods1 {
  margin-bottom: 50px;
}

#gpu_goods2 {
  margin-bottom: 50px;
  background: rgba(30, 139, 212, 0.89);
  border-radius: 50px;
  padding: 30px;
  box-shadow: 10px 10px 60px 2px #3697D8;
}
#gpu_goods3 {
  margin-bottom: 50px;
  background: rgba(249, 85, 24, 0.89);
  border-radius: 50px;
  padding: 30px;
  box-shadow: 10px 10px 60px 2px #F96731;
}

#gpu_goods4 {
  margin-bottom: 50px;
  background: rgba(42, 85, 114, 0.94);
  border-radius: 50px;
  padding: 30px;
  box-shadow: 10px 10px 60px 2px #2A5572;
}

#gpu_goods5 {
  margin-bottom: 120px;
  background: rgb(76, 107, 34);
  border-radius: 50px;
  padding: 30px;
  box-shadow: 10px 10px 60px 2px #4C6B22;
  
}

#mu_head {
 color: white;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
}

#mu_head1 {
 color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
}

.im-centered { margin: auto; max-width: 300px;}

#footer {
  margin-top: 20px;
  background-color: #333;
}

#sp_tag {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: inline;
  color: #a4d007;
  background-color: #4c6b22;
  margin: 0;

  z-index: 2;

}

#sp_price {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: inline;
  color: #626366;
  background-color: #000;
  text-decoration: line-through;
    margin: 0;
  z-index: 2;
  right: 10px;

}

#pos_tag {
  position: absolute;
  bottom: 6px;
  right: 5px;
}

#sp_pp {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: inline;
  color: #fff;
  background-color: #000;
  margin: 0;
  z-index: 2;
  right: 10px;
}

#sp_ppt {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: inline;
  color: #000;
  background-color: orange;
  margin: 0;
  z-index: 2;
  right: 10px;
}

.tag {

  position: relative;
}

